<h2><%= artefact.name %></h2>
<p><%= 'Current Location'  %></p>
<p><%= artefact.current_location %></p>
<button type="button" class="btn btn-outline-light btn-sm mt-2 p-2"><%= link_to "View the Museum" %></button>
