.banner-collection {
  margin-bottom: 16px;
  height: 600px;
}
.collection-title {
  h1 {
    font-weight: bold;
    font-size: 60px;
  }
  h3 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
  }
}

.opening-section {
  display: flex;
  width: 1095px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 16px;
}

.collection-introduction {
  flex-grow: 1;
  width: 70%;
  padding-right: 32px;
  padding-top: 32px;
  h3 {
    padding-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
  }
  p {
    color: black;
    font-size: 18px;
    padding-bottom: 42px;
  }
}

.collection-box {
  width: 30%;
  border-left: 1px solid red;
  padding-left: 32px;
  h3 {
    font-size: 16px;
    font-weight: bold;
    // letter-spacing: 0.1em;
  }
  p {
    font-size: 18px;
    font-weight: lighter;
    font-style: italic;
  }
}

.collection-map {
  width: 100%;
}

.collection-context {
  padding-top: 38px;
  margin: 0px 170px;
  padding-right: 16px;
  // margin: 0 auto;
  margin: 0 auto;
  width: 1095px;
  h3 {
    padding-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
  }
  p {
    // color: black;
    font-size: 18px;
    padding-bottom: 42px;
  }
}

.collection-renowned-works {
  padding-top: 80px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
}
