.banner-collection {
  margin-bottom: 16px;
  height: 600px;
}
.collection-title {
  text-align: center;
  color: $red;
  padding: 32px 0px;
  h1 {
  font-size: 60px;
  font-weight: bold;
  }
}

.opening-section {
  display: flex;
  width: 1095px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
  padding-top: 16px;
}

.collection-introduction {
  flex-grow: 1;
  padding-right: 32px;
  padding-top: 32px;
  h3 {
  font-size: 24px;
  color: $red;
  padding-bottom: 12px;
  padding-top: 8px;
  font-weight: lighter;
  }
  p {
  color: $black;
  padding-bottom: 42px;
  }
}

.collection-box {
  width: 1120px;
  border-left: 1px solid $red;
  padding-left: 32px;
}

.collection-map {
  width: 100%;
}

.collection-context {
  padding-top: 38px;
  margin: 0px 170px;
  padding-right: 16px;
  h3 {
    font-size: 24px;
    color: $red;
    padding-bottom: 12px;
    padding-top: 8px;
  }
  p {
    color: $black;
    padding-bottom: 42px;
  }
}

.collection-renowned-works {
  padding-top: 80px;
  text-align: center;
  color: $red;
  font-size: 32px;
}
