.profile-text {
  padding-top: 50px;
  h2 {
    font-size: 24px;
    font-weight: bolder;
    // color: blue;
    padding-bottom: 20px;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: black;
  }
}
