<div class="push footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/stolenartefacts/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/stolenartefact/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/StolenArtefact"><i class="fab fa-twitter"></i></a>
  </div>
</div>
