<div class="navbar-artefact"></div>
<span><% "I'M A/STOLEN ARTEFACT/GET ME/OUT OF/HERE".split("").each_with_index do |letter, i| %>
  <% if letter == "/" %>
    <br>
  <% elsif letter == " " %>
    <span class="d-inline-block letter-space"></span>
  <% else  %>
    <h1 class="text-pop<%=i+1%>"><%= letter %></h1>
  <% end %>
<% end %>
</span>


