
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 8px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.artefact-banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 80vh;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url('https://dmdlnu87i51n1.cloudfront.net/v1/uk/cjek8k2uy17j70183viykaxuv/0x0:1600x1067/960x960/storage.jpg');
  background-size: 110% 110%;
  background-position: center center;
  animation: shrink 12s infinite;
}

@keyframes shrink {
  0% {
    background-size: 120% 120%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.museum-banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 80vh;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1587972633381-3862b8268cae?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80');
  background-size: 110% 110%;
  background-position: center center;
  animation: shrink 12s infinite alternate;
}
@keyframes shrink {
  0% {
    background-size: 120% 120%;
  }
  100% {
    background-size: 100% 100%;
  }
  // -webkit-animation: zoomin 5s 1;
  // @-webkit-keyframes zoomin {
  //   0% {
  //       -webkit-transform: scale(1);
  //   }
  //   100% {
  //       -webkit-transform: scale(2);
  //   }
  // }
}
