.cards-artefacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cards-collections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards-museums {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-artefact {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 8px;
  position: relative;
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  .card-artefact-infos {
    padding: 16px;
  }
}

.card-artefact, .card-museum, .card-collection {
  h2 {
  font-size: 18px;
  font-weight: bold;
  // text-transform: uppercase;
  margin: 0;
  }
  p {
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 1;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  }
}

.cards-collection-artefacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  h2 {
  font-size: 18px;
  font-weight: bold;
  // text-transform: uppercase;
  margin: 0;
  }
  p {
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 1;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  }
}

.card-like {
  margin-left: 3px;
}

.card-icons {
  display: flex;
  position: absolute;
    top: 5px;
    right: 10px;
  align-items:center;
}

.ssb-facebook {
  margin-left: 3px;
}

.social-share-button {
  display: flex;
}

.cards-general {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-general img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-general h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-museum {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  h1 {
    color: red;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
    width: 100%;
  }

  h5 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    opacity: .7;
  }

  p {
    font-size: 16px;
    opacity: .7;
    margin: 0;
  }
  h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
  }
  .card-museum-infos {
    padding: 16px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
}

.card-museum > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
}
.card-marker {
  background-color: white;
  padding: 8px;
}

.card-marker a {
  text-decoration: none;
  color: white;
}

.card-marker p {
  font-size: 16px;
}

.card-marker h2 {
  font-size: 24px;
  font-weight: bold;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-home {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


// .red {
//   color:$red;
// }

// .gray {
//   color: $gray;
// }

.index-header {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding-top: 40px;
  padding-bottom: 20px;
}

.link-to-text {
  color: $black!important;
  text-decoration: none!important;
  font-weight: bold;
}
 .link-to-text:hover {
   color: $gray!important;
}

.link-to-text-home {
   color: red!important;
  text-decoration: none!important;
  font-weight: bold;
}
 .link-to-text-home:hover {
  color: $offwhite!important;
}
