.cards-artefacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cards-collections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards-museums {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-artefact {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 8px;
  position: relative;
}

.card-artefact img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-artefact h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-artefact p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-artefact .card-artefact-infos {
  padding: 16px;
}

.cards-collection-artefacts {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 32px;
  margin-bottom: 24px;
}

.card-like {
  position: absolute;
    top: 5px;
    right: 10px;
}

.cards-general {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-general img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-general h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-home {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-home {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.red {
  color:$red;
}

.gray {
  color: $gray;
}


.link-to-text {
  color: $black!important;
  text-decoration: none!important;
  font-weight: bold;
}
 .link-to-text:hover {
   color: $gray!important;
}

.link-to-text-home {
  color: $coral!important;
  text-decoration: none!important;
  font-weight: bold;
}
 .link-to-text-home:hover {
   color: $red!important;
}
