.main-title {
  h1 {
    font-weight: bold;
    font-size: 60px;
  }
}
.locations {
  .current-location{
    border-color: red;
  }
  h3 {
    font-size: 36px;
    font-style: italic;
    // font-weight: bolder;
  }
  h4 {
    font-weight: lighter;
    font-style: italic;
  }
}

.details {
  margin: 0 auto;
  width: 700px;
  p {
    font-size: 18px;
    font-weight: lighter;
  }
  a {
    font-size: 13px;
    font-weight: bolder;
  }
  :hover {
    text-decoration: none;
  }
}

header {
  position: relative;
  min-height: 400px;
  background-color: $black;
  width: 100%;
  transform-style: inherit;
  z-index: -1;
}

.parallax {
  perspective: 2px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--text {
  transform: translateZ(0);
  width: 700px;
  // margin: 0 auto;
  margin-left: 500px;
}

.parallax__layer--image {
  transform: translateZ(-1px) scale(1.2);
  img {
    max-height: 500px;
  }
}

.parallax__layer--dot {
  transform: translateZ(0);
  font-size: 80px;
  font-weight: bold;
  color: $red;
  margin-top: -100px;
  h3 {
    font-size: 60px;
    font-weight: bold;
  }
}

.parallax__group {
  position: relative;
  transform-style: preserve-3d;
  height: 90vh;
  max-height: 700px;
  .btn {
    padding: 3px 5px;
  }
  .btn a {
    color: white;
  }
  .btn :hover {
    text-decoration: none;
    color: black;
  }
}

.text-card {
  padding: 50px;
  background-color: rgba(255,255,255,0.8);
  height: max-content;
  h3 {
    font-size: 50px;
    font-weight: bold;
  }
}

.border-box {
  box-sizing: border-box;
  left: 0;
  right: 0;
}

.view-more {
  margin: 0 auto;
  padding: 5px 15px;
  .btn a {
    color: white;
  }
  .btn :hover {
    text-decoration: none;
    color: $cream;
  }
}
