.footer {
  // display: flex;
  // justify-content: right;
  height: 60px;
  width: 100vw;
  // margin-top: 20px;
  padding: 20px 50px;
  background-color: black;
}

.footer-links a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

