.footer {
  // display: flex;
  // position: fixed;
  justify-content: center;
  // bottom: 0px;
  // left: 0px;
  height: 70px;
  width: 100vw;
  margin-top: 20px;
  padding: 20px 50px;
  background-color: $beige;
}

.footer-links a {
  color: $red;
  opacity: 0.6;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

