
.museum-infos img {
  width: 100%;
}

.museum-graphs {
}

.graphic-text {
  width: 100%;
  text-align: center;
}

.museum-header {
  color: $red;
  margin-top: 8px;
  margin-bottom: 24px;
  text-align: center;
}

.museum-background {
  background-color: white;
  padding: 16px;
  margin-bottom: 16px;
}
