.navbar-artefact {
  justify-content: space-between;
  background: $black;
  transition: 0.5s background-color ease;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-brand img {
    width: 40px;
  }
  .btn {
    background-color: blue;
    color: white;
    font-size: 12px;
    letter-spacing: 0.1em;
    padding: 9px 10px;
    text-transform: uppercase;
  }
}

a.nav-link {
  color: blue !important;
  // font-size: 16px;
}

.nav-item {
  display: flex;
  align-items: center;
  a {
    color: blue!important;
  }
}

.artefacts-click {
  display: flex;
  align-items: center;
  margin-right: 24px;
  a {
    color: white!important;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  a:hover {
    text-decoration: none;
    color: #d3d3d3!important;
  }
}
 .link-to-text-home:hover {
  color: white!important;
}

.dropdown-item {
  color: black;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  &:hover {
    color: blue;
  }
}
